.card {
  background-color: #483d8b;
  border-radius: 15px;
  color: #fff;
  position: relative;
  padding: 10px;
}
.boton {
  background-color: #483d8b;
  color: #fff;
  margin-bottom: 7px;
}
.icono-card {
  position: absolute;
  top: 6px;
  right: 7px;
  cursor: pointer;
}
.datos {
  padding-top: 8px;
  padding-bottom: 8px;
}
